@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("Username") != null) {
        <h1 class="display-4">@HttpContextAccessor.HttpContext.Session.GetString("Username")</h1>
    } else {
        <br><br><br>
    }
    <p>Eu nam noster minimum, no dicunt inciderint qui, tibique electram vituperatoribus est no. Id dicant recteque qualisque cum, legimus fabellas sea cu. Ad simul veniam legimus eum, pro delenit accumsan facilisi in, ea vix ludus tollit maluisset. Ex saperet ancillae accommodare est, sea semper imperdiet ei. An exerci maiorum principes pri, hinc saepe fabulas vis ex. Cum paulo noluisse eu, eu veniam vivendum intellegat nec. Cum et possim meliore gubergren, diam ignota nec et, eum id option adolescens.

Pri wisi sapientem referrentur ex. Ignota adipiscing ad mei. Cu pri consul assueverit, et odio quidam nec. Democritum constituto dissentias ius an, et percipit nominati his. Eruditi detracto ea ius.

Wisi aliquando quo ex, ut alterum eligendi similique his, sit ex ferri discere pertinax. Ad meis molestiae qui, qui te eruditi adversarium. Aperiri vocibus probatus sea at, quo menandri consectetuer ad. Eum ceteros suscipiantur in, reque altera iudicabit quo ei. Sit nonumy dissentiunt cu, animal deterruisset cum ad. An mei repudiandae conclusionemque, no dicat ullum sed. Illud consul soleat pro in, et nec omnesque repudiandae, no illud tation his.

Simul sadipscing adversarium eum id, in cum liber audire senserit. Duo habeo ornatus oporteat ad, no nibh complectitur nam. Ei viderer oblique duo, vel dicam albucius at. Augue omittam intellegam eum an.

Alii viderer te est. Id sea nihil deleniti, libris integre delicata mei cu. An duo summo accommodare, quidam pericula nec an, quo te nobis signiferumque. Eum ad wisi sale minimum, ne sapientem dissentiet his. Ea esse liberavisse eam.

Usu iusto facilisis moderatius et. Nam no putant tractatos, ei vim melius doctus volutpat. Per et sonet nostrum, ei ipsum liberavisse pro. Solum invenire an vel, mentitum splendide comprehensam ne qui. Ut has vidisse molestie legendos. Hinc fugit pertinax eum in, admodum consequat eam ut.

Accusata posidonium has ut, ne nemore verterem est, id per purto utinam interesset. Rebum indoctum nam id, ad est cibo prima. Odio nostro splendide cum ne, ei ius prima accumsan deterruisset, ignota causae sententiae an has. Nostro everti ne sed.

Has et vocibus alienum. Noster omittam delectus an sed, novum molestie dignissim mea cu, ut torquatos dissentiunt pri. Ad pri splendide philosophia necessitatibus, dolorum debitis signiferumque ex his. Ut probo tantas eum, vis debet atomorum ea. Ut has graeco oporteat facilisis, quis indoctum in vim. Libris prompta disputationi vix at, quo et dolorem percipitur.

Mei facilisi torquatos in, ne nec diam scriptorem, vix ut tale feugait. Ei eros autem voluptaria sea, quo et minim quodsi aliquando. Ex sit nisl quidam, at vel falli facete detracto. Verear dolorum vocibus quo ut.

Vidisse oporteat no per, vim ei sint agam forensibus. Mei te errem elitr convenire, id elitr omnes assentior est, eu viris tacimates quo. No novum probatus dissentias vel, cu timeam aliquando incorrupte cum. Altera nemore et ius. Mel dolore vivendo ut, graeco minimum ius et.</p>

<br><br>
<p>Te zril denique vim, cum ut errem omnes oratio, nihil forensibus ei per. His cu maluisset corrumpit definitionem. Mea in magna nusquam iracundia, eam soleat molestiae conclusionemque an. Cum et amet regione. Cum diam noster nominavi no, qui etiam probatus argumentum te.

An erat copiosae qui, adhuc aeterno vocibus ex nam. Vim quas mollis id. Mei ea labitur quaestio. Et autem falli vim, prompta suavitate eum ne. Mandamus theophrastus te cum, mea sensibus expetendis mediocritatem eu, postea possim et mei. Iudicabit maiestatis usu eu. Usu autem labitur an, omittam quaestio voluptatibus nec ad.

Ius munere soluta mediocritatem ut. Ius no meliore feugait. Vix nobis semper dictas in, melius fuisset sensibus nec at. Eu nostrum hendrerit sea, nam erroribus maluisset id. Ius omnis iusto quaeque cu, primis disputationi te quo, pro ad noster hendrerit pertinacia. Diceret platonem voluptaria in sit, sit labore torquatos in. Duo ei probo solet, quando alienum nominavi his ut.

Per ex facer blandit iudicabit, ea ius case fierent scaevola. Modus praesent adipiscing pri eu. Ornatus expetenda his et, nam conceptam definitiones cu. Vim albucius definitiones an, ne nostrud scaevola eos.

Ne sed nostro omnesque repudiare, cu sed utinam tacimates, ex repudiare molestiae usu. Vim idque dicat ex, eos id exerci dolorum periculis. Ius reque aliquid iudicabit no. Ex his amet omittam cotidieque. Ex vix adhuc putent.

Dicam epicuri percipitur vim et, tacimates tractatos usu ad, virtute alterum constituam ex sed. Te tempor consulatu eloquentiam nam, et vim dolore audiam percipit, vix erat dicam aliquid ad. No recteque interesset sea, populo iuvaret impedit ut eam. Ea est idque sensibus. Nulla verterem ne pri. At quis probatus definitionem qui, ut omnes intellegebat sit. Nam cu clita intellegam, no vim dicat omnium.

Vim ad quot vituperatoribus, mel oratio maluisset adversarium no. Nam aeque deleniti no. Equidem urbanitas id pro, lucilius torquatos ullamcorper est ne. Sea molestie postulant ea, laoreet perfecto pericula qui ei. An delenit assueverit eum. Ea lorem populo ponderum sed. Illum dicant delicata ea eam, hinc oratio tibique ut sed.

Tale saepe quaeque nam ex. Vis vide debet et, quo munere suavitate at. Semper dissentias ad mei, dicat tibique periculis his ne. Vix ne sonet munere.

Agam luptatum molestiae sea no. Eam ne nulla inciderint. An usu inciderint accommodare, veri illum tritani vel ut. Mei dolor tantas blandit an, civibus offendit vel ex.

Vidisse consetetur ea ius. Officiis interesset vis at, cu eos summo integre deleniti. Et has solum atqui, an dolor laudem constituto pri. Eos velit recteque ne, argumentum consectetuer est an. Tota verear disputando ad pro, aperiam moderatius ut duo, quas adhuc te eum. Blandit copiosae cu eos, putant ancillae consequuntur duo et.</p>
</div>
