@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("Username") != null) {
        <h1 class="display-4">@HttpContextAccessor.HttpContext.Session.GetString("Username")</h1>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
